<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brain-Ring</title>
    <link rel="stylesheet" href="/admin/admin.css">
</head>
<body>
    <!-- <div class="parol-container">
        <form class="password">
            <p>GİRİŞ</p>
            <input type="text" name="logInEmail" placeholder="Elektron poçt" autofocus/>
            <input type="password" name="logInParol" placeholder="Şifrə"/><br>
            <a id="logIn">Log In</a>
        </form>
    </div> -->
    <div class="questions-list">
        <h1 class="list-head">Brain-Ring Suallar</h1>
        <form class="brainRing-question-contex">
            <textarea name="" id="" class="brainRing-question" placeholder="Question:"></textarea>
            <input type="text" class="brainRing-answer" placeholder="Answer:">
            <input type="text" class="brainRing-level" placeholder="Level:">
            <div class="questions-buttons">
                <button type="button" class="add-brainRing">add</button>
                <button type="button" class="edit-brainRing">edit</button>
                <button type="button" class="delete-brainRing red-btn">del</button>
            </div>
        </form>
        <table class="brainRing-list">
            <tr>
                <th>Count</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Level</th>
            </tr>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/admin/admin.js"></script>
</body>
</html>