<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamers</title>
    <link rel="stylesheet" href="/admin/admin.css">
</head>
<body>
    <!-- <div class="parol-container">
        <form class="password">
            <p>GİRİŞ</p>
            <input type="text" name="logInEmail" placeholder="Elektron poçt" autofocus/>
            <input type="password" name="logInParol" placeholder="Şifrə"/><br>
            <a id="logIn">Log In</a>
        </form>
    </div> -->
    <div class="gamers-list-container">
        <h1 class="list-head">List of Gamers</h1>
        <div class="gamers-list-contex">
        <table class="gamers-list">
            <tr>
                <th>Count</th>
                <th>Name and Surname</th>
                <th>Gender</th>
                <th>Region</th>
                <th>Birth Date</th>
                <th>Phone Number</th>
                <th>E-mail</th>
                <th>Learn from</th>
                <!-- <th>Result</th> -->
            </tr>
        </table>
        <button type="submit" class="delete-gamers red-btn">DELETE</button>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="/admin/admin.js"></script>
</body>
</html>