<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Consensus İntelektual mərkəzi</title>
<!-- STYLE.CSS -->
<link rel="stylesheet" href="style.css">
<!-- GOOGLE FONTS -->
<link href="https://fonts.googleapis.com/css?family=Comic+Neue&display=swap" rel="stylesheet">
<!-- favicon -->
<link rel="shortcut icon" href="img/logomini.jpg" type="image/x-icon">
</head>
<body>
<fieldset class="sign-in-container" >
<legend>İntellektual oyunlar üçün hesabına daxil ol</legend>
<!-- COME FROM SCRIPT -->        
</fieldset>
<div class="container">
<section class="banner">
<!-- NAVBAR -->
<nav class="main-nav">
    <div class="logo"><a href="#"><img src="./img/logo.jpg" alt=""></a></div>
    <ul class="nav-menu">
        <!-- menu elements come from database -->
    </ul>
    <small class="volunteer">Könüllü Ol</small>
    <div class="play"><i class="fas fa-play-circle"></i>Oyna</div>
    <i class="fas fa-bars"></i>
</nav>
<div class="banner-container">
    <h1 class="banner-heading">Consensus İntellektual mərkəzi</h1>
    <a href="#about-us" class="banner-btn">Daha Çox</a>
</div>
</section>
<!-- SUPPORTER -->
<div class="supporters">
    <div class="supporter teas"><a href="http://www.teaspress.az/lang,az/" target="_blank"><img src="img/TeasPress.png" alt=""></a></div>
    <div class="supporter oil"><a href="https://www.oilfund.az/"target="_blank"><img src="img/neft.png" alt=""></div></a>
    <div class="supporter youth"><a href="https://youthfoundation.az/" target="_blank"><img src="img/genclerfondulogo.png" alt=""></a></div>
    <div class="supporter cinema"><a href="https://www.cinemaplus.az/ru/" target="_blank"><img src="img/cinemaplus.svg" alt=""></a></div>
    <div class="supporter mys"><a href="https://www.mys.gov.az/" target="_blank"><img src="img/gencler-idman.png" alt=""></a></div>
</div>
<!-- EVENTS -->
<section class="events" id="events">
    <div class="container-head">
        <h1 class="heading"><img src="img/t.png" alt="" class="letters">Tədbirlər</h1>
        <div class="title-underline"></div>
        <div class="event-container">
        <!-- event elements come from database -->
        </div>
    </div>
</section>
<!-- PROJECTS -->
<section class="projects" id="projects">
    <div class="container-head">
    <h1 class="heading"><img src="img/l.png" alt="" class="letters">Layihələr</h1>
    <div class="title-underline"></div>
    <div class="projects-container">
        <!-- progect elements come from database -->
    </div>
</div>
</section>
<!-- NEWS -->
<section id="news">
    <div class="container-head">
    <h1 class="heading"><img src="img/x-aq.png" alt="" class="letters">Xəbərlər</h1>
    <div class="title-underline"></div>
    <div class="news-container">
        <!-- news elements come from database -->
    </div>
</div>
</section>
<!-- ORGANIZATION -->
<section class="organizations" id="organizations">
    <div class="container-head">
        <h1 class="heading"><img src="img/b.png" alt="" class="letters">Brendimiz</h1>
        <div class="title-underline"></div>
        <div class="organization-container">
            <div class="organization">
                <div class="organization-img"> <img src="https://images.pexels.com/photos/3862601/pexels-photo-3862601.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></div>                       
                <div class="organization-info">
                    <h1 class="organization-name">İsmayıllı İntellektual Oyunlar Klubu</h1>
                    <p class="organization-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem tempore enim delectus dolorum vel aperiam accusantium quos iusto nesciunt, et id earum in magnam ipsa impedit quasi aliquam rerum doloremque? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, aliquid autem. Nobis vero pariatur quae consequuntur corporis assumenda deleniti cumque.</p>
                    <div class="organization-info-icon"><i class="fas fa-map-marker-alt organization-icons"></i><small class="organization-knowledge">İsmayıllı şəh. Natavan küç.</small></div>
                    <div class="organization-info-icon"><i class="fas fa-phone-square-alt organization-icons"></i><small class="organization-knowledge">051 422 49 00</small></div>
                    <div class="organization-info-icon"><i class="fas fa-envelope organization-icons"></i><small class="organization-knowledge">iofo@iiok.az</small></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ABOUT -->
<section class="about-us"  id="about-us">
    <div class="container-head">
    <h1 class="heading"><img src="img/h.png" alt="" class="letters">Haqqımızda</h1>
    <div class="title-underline"></div>
    <p class="about-us-info-text">Consensus İntellektual Mərkəzi 2017-ci ilin avqust ayında təsis edilmişdir. Gənclər arasında intellektual oyunların, kvestlərin, təlim və seminarların keçirilməsi mərkəzin əsas istiqamətlərindəndir.
        Consensus İntellektual Mərkəzi Azərbaycanın  milli dəyərləri, mədəniyyət və tarixi, turizmi və coğrafiyasının müxtəlif sahələrdə təbliğatı ilə məşğul olur.
        Azərbaycan qanunları çərçivəsində və gənclərin maraqlarını rəhbər tutaraq fəaliyyət göstərir.</p>
    <div class="about-container">
        <!-- about elements come from database -->
    </div>
    <div class="line-circle"></div>
    <i class="fas fa-thumbtack"></i>
    <div class="line"></div>
    <div class="be-part"><p>HEKAYƏMİZİN BİR <br> PARÇASI <br> OL!</p></div>
</div>
</section>
<!-- CONTACT -->
<footer id="contact">
    <div class="container-head">
    <h1 class="heading"><img src="img/e-aq.png" alt="" class="letters">Əlaqə</h1>
    <div class="title-underline"></div>
    <div class="contact-mail">
        <div class="contact-info">
            <div class="contact-info-icon"><i class="fas fa-map-marker-alt contact-icons"></i><small class="contact-knowledge">Azərbaycan, Bakı</small></div>
            <div class="contact-info-icon"><i class="fas fa-phone-square-alt contact-icons"></i><small class="contact-knowledge">051 422 49 00</small></div>
            <div class="contact-info-icon"><i class="fas fa-envelope contact-icons"></i><small class="contact-knowledge">info@consensuz.az</small></div>
            <div class="footer-icons">
                <a href="https://www.facebook.com/iiok.az" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/consensus.az/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com/channel/UCvy_fsVkhGQLfqqtCkhbd6Q?view_as=subscriber" target="_blank"><i class="fab fa-youtube-square"></i></a>
            </div>
            <p class="copyright">&copy; Bütün hüquqlar qorunur</p>
        <div class="contact-inputs">
            <input type="text" name="" id="your-name" placeholder="Ad:">
            <input type="text" name="" id="email" placeholder="Soyad:">
            <input type="text" name="" id="your-sms" class="contact-textarea" placeholder="Mesaj:">
            <!-- <textarea name="" id="your-sms" class="contact-textarea" placeholder="Mesaj:"></textarea> -->
            <button type="submit" class="send-mail-btn"><i class="far fa-paper-plane"></i>Göndər</button>
        </div>
    </div>
    <div class="message-box"><p>Gözləyin...</p></div>
    </div>
    </div>
</footer>
</div>
<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- script.js -->
<script src="script.js"></script>
<!-- fontawesome -->
<script src="all.min.js"></script>
<!-- admin script -->
<script src="admin/admin.js"></script>
</body>
</html>